# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# Operating System
.DS_Store
Thumbs.db

# Dados (IA)
*.csv
*.json
!data/  # Isto diz para ignorar tudo, menos a pasta data (se quiseres mantê-la vazia)
